.field {
  @apply border-2 rounded-lg border-dark-gray;
  min-height: 40px;
}

.field--transparent {
  background: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 45px;
  border: white;
}

.field--transparent:focus{
  outline: none;
}

